{% include "base_generic.html" %}
{% load i18n %}
{% load account socialaccount %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}
<style>
#left {
  width: 600px;
  float: left;
  font-size: 100%;
  margin-bottom: 5px;
}
#right {
  margin-left: 600px;
  font-size: 100%;
  margin-bottom: 5px;
  }
.clear {
  clear: both;
}
</style>

{% block content %}
  <div class="container">
    <div style="margin-top:20px">
      <div class="text-center">
        <!-- HEADER -->
        <h1 style="font-size:650%;">AGED</h1>
        <h3>Analysis of Gene Expression in Dementia</h3>
        <br/><br/><br/><br/>
        <div id="left">
          <h2><a href="javascript:history.go(-1);" style="margin-left:-15em;"><<</a></h2>
        </div>
        <div id="right">
        </div>
        <br/><br/><br/>
        <hr><br/><br/><br/><br/>
        <!-- CONTENT -->
        <h1>Selected Genes</h1>
        <br/><br/>
        {% for gene in genes %}
            <h3>Gene: <a href="http://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ gene.gene_id }}">{{ gene.gene_id }}</a></h3>
            <p><strong>Name: </strong>{{ gene.gene_name }}</p>
            <p><strong>Type: </strong>{{ gene.gene_type }}</p>
            <p><strong>Description: </strong>{{ gene.gene_description }}</p>
            <br/>
        {% endfor %}
        <!-- PAGINATION -->
        {% block pagination %}
          <div class="pagination">
            <span class="page-links">
              <span class="page-current">
                <h4>Page {{ genes.number }} of {{ genes.paginator.num_pages }}</h4>
              </span>
              {% if genes.has_previous %}
                <div id="left" style="width: 30px;"><h3><a href="{{ request.path }}?page={{ genes.previous_page_number }}"><<</a></h3></div>
                <br/>
              {% endif %}
              {% if genes.has_next %}
              <div class="float-right">
                <div id="right" style="margin-left: 50px;"><h3><a href="{{ request.path }}?page={{ genes.next_page_number }}">>></a></h3></div></div>
              {% endif %}
            </span>
          </div>
        {% endblock %}    
      </div>
      <br/>
      </div>
      <hr>
  </ul>
{% endblock %}