{% load i18n %}
{% load account socialaccount %}
{% include "base_generic.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% block title %}<title>AGED</title>{% endblock %}

{% block content %}
  <div class="container">
    <div style="margin-top:20px">
      <div class="text-center">
        <!-- HEADER -->
        <h1 style="font-size:650%;">AGED</h1>
        <h3>Analysis of Gene Expression in Dementia</h3> <br/><br/><br/><br/> 
        <div id="left">
          <h2><a href="javascript:history.go(-1);" style="margin-left:-15em;"><<</a></h2>
        </div>
        <div id="right">
        </div>
        <br/><br/><br/>
        <hr><br/><br/><br/><br/>
        <!-- CONTENT -->
        <h1>Sign Up</h1>
        <br/>
        <h4>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</h4>
        <br/><br/>
        <div class = "container" style="width:500px;">
          <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            {% bootstrap_form form%}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <br/>
            {% buttons submit='Sign Up'%}{% endbuttons %}
          </form>
        </div>
      </div>
      <br/><br/> 
      <hr> 
    </div>
  </div>
{% endblock %}