{% include "base_generic.html" %}
{% load i18n %}
{% load account socialaccount %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% block content %}
  <div class="container">
    <div style="margin-top:20px">
      <div class="text-center">
        <!-- HEADER -->
        <h1 style="font-size:650%;">AGED</h1>
        <h3>Analysis of Gene Expression in Dementia</h3> 
        <br/><br/><br/><br/>
        <div id="left">
          <h2><a href="javascript:history.go(-1);" style="margin-left:-15em;"><<</a><h2>
        </div>
        <div id="right">
        </div>
        <br/><br/><br/>
        <hr><br/><br/><br/><br/>
        <!-- CONTENT -->
        <h1>Support Vector Machine Models</h1>
        <br/><br/>
        {% if svm_model_list %}
          {% for model in svm_model_list %}
            <h4><a href="{{ model.get_absolute_url }}">{{ model.model_name }}</a></h4>
          {% endfor %}
        {% else %}
          <h3>There are no models in the collection.</h3>
        {% endif %}
        <br />
        <div class="text-center">
        <!-- PAGINATION -->
        {% block pagination %}
          {% if is_paginated %}
            <div class="pagination">
              <span class="page-links">
                <span class="page-current">
                  <h4>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h4>
                </span>
                {% if page_obj.has_previous %}
                  <h3><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><<</a></h3>
                  <br />
                {% endif %}
                {% if page_obj.has_next %}
                  <h3><a href="{{ request.path }}?page={{ page_obj.next_page_number }}">>></a></h3>
                {% endif %}
              </span>
            </div>
          {% endif %}
        {% endblock %}
        <br /> <br /> 
        </div>
      <hr>
    </div>
  </div>
{% endblock %}