{% include "base_generic.html" %}
{% load i18n %}
{% load account socialaccount %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}

{% block content %}
  <div class="container">
    <div style="margin-top:20px">
      <div class="text-center">
        <!-- HEADER -->
        <h1 style="font-size:650%;">AGED</h1>
        <h3>Analysis of Gene Expression in Dementia</h3>
        <br/><br/><br/><br/> 
        <div id="left">
          <h2><a href="javascript:history.go(-1);" style="margin-left:-15em;"><<</a></h2>
        </div>
        <div id="right">
        </div>
        <br/><br/><br/>
        <hr><br/><br/><br/><br/><br/><br/><br/><br/>
      </div>
      <!-- CONTENT -->
      <div style="display:table; margin:0 auto;">
        <div id="left">
          <a href="{% url 'svm_models' %}"><strong>Support Vector Machine</strong></a>
        </div>
        <div id="right">
          <a href="{% url 'rf_models' %}"><strong>Random Forest</strong></a>
        </div>
        </ul><br/><br/><br/><br/><br/><br/><br/><br/>
      </div>
      <hr> 
    </div>
  </div>
{% endblock %}